<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Modify</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  
  <link rel="stylesheet" href="/style_sheets/style.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="navbar navbar-default">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <div class="btn-group" role="group">
          <a href="/"><button type="button" class="btn btn-default">Home</button></a>
          <a href="/new"><button type="button" class="btn btn-default">New Books</button></a>
        </div>
      </div>
    </div>
  </div>  
</div>
  <form action="/food/<%= food.id%>?_method=put" method="POST">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
  <h1>Edit Entry</h1>
    <form action="/food" method="POST" class="form-horizontal">  
      <label for="name">Title:</label>
      <input type="text" required id="name" name="food[name]" value="<%= food.name %>">
    </p>
    <p>
      <label for="cuisine_type">Author:</label>
      <input type="text" required id="cuisine_type" name="food[cuisineType]" value="<%= food.cuisineType %>">
    </p>
    <p>
      <label for="image">Image URL:</label>
      <input type="text" id="image" name="food[picImg]"  value="<%= food.picImg %>">
    </p>
    <p>
      <label for="image">Image URL:</label>
      <input type="text" id="image" name="food[recipeLink]"  value="<%= food.recipeLink %>">
    </p>
    <p>
      <input type="submit">
    </p>
  </form>
        
      </div>
    </div>
  </div>  
    <p>
</body>
</html>